html {
    height: 100%;
    background-color: black;
    background-image: url(../img/img2.jpg);
    Background-Repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

body {
    
    border-left: 1px solid royalblue;
    color: white;
    height: auto;
    padding: 0px;
    margin: 0px;
}
h1 {
    display: block;
    margin:0px;
    font-weight: bold;
}

.hero-body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    padding-bottom: 100px;
}

.degradado {
    width: 350px;
    height: 30px;
}

.marca {
    border: 3px dotted red;
}

.desc {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.541);
    width: 430px;
    margin-bottom: 2px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(30px);
    filter: grayscale(60%);
}

.desc p em {
    color: rgb(0, 225, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 225, 255);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
}

p {
    text-align: justify;
    white-space: pre-line;
}

strong {
    color: lawngreen;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.808);
    font-family: monospace, 'Times New Roman', Times, serif;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

h5 {
    font-style: italic;
}

.desc h4 {
    font-variant: small-caps;
    font-size: large;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}

i {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bolder;
    background-color: rgb(255, 217, 0);
    font-family: monospace;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgb(255, 217, 0);
}

h3 {
    background-image: url("../img/img.jpg");
    color: white;
    width: max-content;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.ul-img {
    list-style-image: url("../img/p.jpg");
    list-style-position: inside;
    border: 1px dashed dimgrey;
}

button {
    cursor: pointer;
}

.row {
    display: flex;
}

.tra {
    Background: Linear-Gradient(90deg, Rgba(255, 255, 255, 0) 0%, Rgba(255, 255, 255, 0.2) 25%, Rgba(255, 255, 255, 0.2) 75%, Rgba(255, 255, 255, 0) 100%);
    Box-Shadow: 0 0 25px Rgba(0, 0, 0, 0.1), Inset 0 0 1px Rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    width: 200px;
    height: auto;
}

.parent p:first-child {
    color: aqua;
}

p::selection {
    background: rgb(0, 0, 0);
    color: rgb(116, 0, 0);
}

.caja-strong {
    color: lawngreen;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.808);
    font-family: monospace, 'Times New Roman', Times, serif;
    width: auto;
    height: auto;
}

.deg2 {
    background: linear-gradient(100deg, blue, green, white);
}

.hola {
    background-color: rgb(0, 255, 34);
    height: 30px;
    width: 200px;
    transition: width 1s;
}

.hola:hover {
    color: chocolate;
    width: 400px;
}

a{
    text-decoration: none;
    color: aqua;
    font-weight: 500;
    font-size: 15px;
}
.descargar{
    color: rgb(208, 255, 0);
    font-weight: bolder;
    font-size: 20px;
    margin-left: 100px;
   
}
.descargar img{
    width:150px;
    margin-top: 30px;
    margin-bottom: 20px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 

}
.descargar img:hover{
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.7)); 
}

a:hover{
    font-size: 20px;
    color: chartreuse;
}

textarea{
    background-color: black;
    color: rgb(0, 195, 255);
    width: 100%;
    height: auto;
}



.hero-head {
    position: relative;
    overflow:hidden;
    height: 55px;
    width: 80%;
    opacity: 0.9;
    background-color: #f7e018;
    backdrop-filter: blur(0px);
    margin-bottom: 50px;
    border-radius: 40px 10px;  
    display: block;
    margin: 0 auto;
    text-align: center;
}
.hero-head span{
    position:relative;
    display: block;
    background:url(../img/brillos/brillog.png) no-repeat; 
    background-position: -300px 0px;
    margin-top:0px;
    height: 1033px;
    width: 1320px;
    
}
.hero-head:hover span{
    background-position: 1000px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 2s;
    transition-property: all;
    transition-duration: 2s;
}

.titulo {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    opacity: 1 !important;
    text-align: center;
}

.titulo h1 {
    font-size: 3em;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold !important;
    color: white;
    font-weight: 600;
    line-height: 1.125;
    text-shadow: 0 0 30px #fff;
}
.hero-head a:hover{
    font-size: 3em;
    color: chartreuse;
}

@media (max-width: 600px) {
    html {
        background-size: 200% 100%;
    }
    .hero-body {
        height: 100%;
        padding-bottom:50px !important;
    }
    .desc {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
    }
}

