.centrar {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.contenido {
    margin-top: 100px;
    width: 50%;
    height: 100%;
}

.contenido button {
    border:2px solid rgba(7, 226, 255, 0.466);
    height: 50px;
    width: 100%;
    font-variant:small-caps;
    font-weight: 900;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.753);
    color:white;
    border-radius: 4px;
}
.contenido button:hover{
    background-color: white;
    color: black;
    border:2px solid rgb(255, 217, 0);
    transition: 1s;
}

@media(max-width:750px) {
    
.contenido {
    margin-top: 50px;
    width: 90%;
    height: 100%;
}
}